<zk>
<window title="xhtml example" xmlns:n="native" xmlns:h="xhtml">
<include src="~./menu.zul"></include>
New Content Here!
<n:h1>HAI</n:h1>

<n:input name="halo" id="inputTxt"/>
<textbox id="newValue"></textbox>
<separator></separator>
<h:h1 id="haiLabel">Hai</h:h1>
<button id="btnChange" onClick='haiLabel.getChildren().get(0).setValue(newValue.getValue())' label="Change Hai to input value" />

</window>
<zscript><![CDATA[

//org.zkoss.zhtml.H1 haiLabel;
//
//void Change()
//{
//	org.zkoss.zhtml.H1 a = haiLabel;
//	a.getChildren().clear();
//	var s = new org.zkoss.zhtml.Text();
//	s.setValue("HALO");
//	a.getChildren().get(0).setValue("HALO");
//}
]]></zscript>
</zk>